html {
  height: 100%;
  /*padding:0;*/
  /*margin: 0;*/
  /*overflow: hidden;*/
}
body {
  height: 100%;
  width: 100%;
  background: #ffffff;
  color: #333;
  /*padding:0;*/
  /*margin: 0;*/
  /*overflow: hidden;*/
  font: 100%/1.5 "Helvetica Neue", "Microsoft Yahei", sans-serif;
}
.view-wapper {
  padding: 0px;
}
.row
{
  margin:0px;
}
.col-xs-1,.col-xs-3,.col-xs-4,.col-xs-7,.col-xs-8
{
  padding:0;
}
.col-xs-1,.col-xs-8{
  margin: 0.09rem 0;
}
.view-header {
  background: -moz-linear-gradient(top, #ef9569, #d25d2d);
  /*非IE6的其它*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef9569), to(#d25d2d));
  /*非IE6的其它*/
  background-image: linear-gradient(to top, #ef9569 0%, #d25d2d 100%);
  background-repeat: repeat-y;
  height: 60px;
}
.view-header .r1 {
  height: 24px;
}
.view-header .left {
  font-size: 16px;
  margin-top: 25px;
}
.view-header .left .title {
  font-size: 16px;
  padding-left: 35px;
}
.view-header .center {
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}
.view-header .right {
  font-size:16px;
  text-align: right;
  margin-top: 25px;
  /*padding-top: 15px;*/
}

.padding-right15
{
  padding-right:0.15rem;
}
.view-header .nav {
  font-size: 24px;
  text-align: center;
}
.view-header .search {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  background-color: #e2e7ee;
  width: 100%;
  min-height: 60px;
}
.view-header a {
  color: #ffffff;
  text-decoration: none;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  display: inline-block;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  z-index: 999;
}
.view-header a .close {
  padding-top:15px;
}
.view-header a.light {
  color: #ffffff;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffffff;
}
.view-header a.dim {
  color: #eff4fa;
  padding-bottom: 10px;
}
.view-body {
  position: absolute;
  background-color: transparent;
  /*top: 100px;*/
  margin-top: 15px;
  width: 100%;
}
.carousel-inner {
  padding: 10px;
   max-height:310px !important;
}
.carousel-caption {
  position: absolute;
  width: 340px;
  bottom: 30px;
  left: 0%;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: #436357;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
.carousel-indicators {
  position: absolute;
  top: -30px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-image {
  max-height: 220px;
  height: 100%;
  width: 100%;
}
.panel-title {
  font-size: 28px;
  color: #436357;
  padding-left: 30px;
  /*padding-top: 42px;*/
  /*padding-bottom: 26px;*/
}
.panel-nav {
  margin:5px;
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);*/
  display: block;
}
.panel-nav .status-completed {
  background-image: url(../image/icon_wancheng.png);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 44px;
  width: 122px;
  float: right;
  margin-top: -35px;
  margin-right: 10px;
  z-index: 999;
  position: relative;
}
.panel-nav .status-inprocess {
  background-image: url(../image/icon_chulizhong.png);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 44px;
  width: 122px;
  float: right;
  margin-top: -35px;
  margin-right: 10px;
  z-index: 999;
  position: relative;
}
.panel-nav .status-timeout {
  background-image: url(../image/icon_yichaoshi.png);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 44px;
  width: 122px;
  float: right;
  margin-top: -35px;
  margin-right: 10px;
  z-index: 999;
  position: relative;
}

.panel-nav .title {
  font-size: 28px;
  color: #436357;
  /*padding-left: 5px;*/
  /*padding-top: 5px;*/
}
.panel-nav .content {
  font-size: 24px;
  color: #aaaaaa;
  /*padding-left: 5px;*/
  padding-top: 5px;
}
.panel-nav .date {
  font-size: 24px;
  color: #aaaaaa;
  padding-left: 5px;
  padding-top: 5px;
}
.text-title1 {
  font-size: 18px;
  color: #436357;
  padding-left: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  margin: 15px;
}
.text-content1 {
  font-size: 20px;
  font-family: 黑体;
  font-weight: 300;
  color: #436357;
  padding-left: 20px;
  /*margin-top: 15px;*/
  /*margin-bottom: 32px;*/
}
.view-body .list-group-item {
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  padding: 0;
}
.list-group-item .icon {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.list-group-item .iconMiddle {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.list-group-item .title {
  font-size: 18px;
  color: #d15e34;
  margin-top: 25px;
}
.list-group-item .date {
  font-size: 24px;
  color: #436357;
}
.list-group-item .content {
  font-size: 12px;
  color: #aaaaaa;
}
p .content {
  margin: 2px!important;
  width: 90%;
}
.icon-btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-btn-alert {
  /*display: inline;*/
  /*padding: .2em .6em .3em;*/
  /*font-size: 22px;*/
  /*font-weight: bold;*/
  /*line-height: 1;*/
  /*color: #ffffff;*/
  /*text-align: center;*/
  /*white-space: nowrap;*/
  /*vertical-align: baseline;*/
  background-color: #f64f34;
  /*position: absolute;*/
  margin: 5px 10px 5px 0;
  /*top: 5px;*/
  /*right: 5px;*/
  /*padding: 6px;*/
  /*margin-top: 12px;*/
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
/*.icon-header-alert {
  float: left;
  display: inline;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  !*padding:6px;*!
  font-size: 10px;
  font-weight: bold;
  color: #e71514;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #ffffff;
}*/
.icon-header-alert {
  float: left;
  display: block;
  width: 16px;
  /*height: 18px;*/
  color: #e71514;
  font-size: 10px;
  padding-top: 1px;
  background-color: #ffffff;
  border-radius: 100%;

}
.icon-btn-lable {
  display: block;
  font-size: 28px;
  line-height: 1;
  color: #436357;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding-top: 20px;
  padding-left: 0px;
}
.icons-list {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
}
.icon-indicate {
  background-image: url(../image/btn_jianyi.png);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 38px;
  width: 38px;
  padding: 5px;
  margin: 2px;
}
.icon-search {
  background-image: url(../image/btn_sousuo.png);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 38px;
  width: 38px;
  padding: 5px;
  margin: 10px;
}
.icon-deal {
  background-image: url(../image/btn_xinxi.png);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 38px;
  width: 38px;
  padding: 5px;
  margin: 10px;
}
.icon-return {
  background-image: url(../image/btn_fanhui.png);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 38px;
  width: 38px;
  padding: 5px;
  margin-top: 10px;
}
.icon-bizInfo {
  background-image: url(../image/btn_yewuzixun.png);
  background-repeat: no-repeat;
  height: 96px;
  width: 96px;
  padding: 5px;
  border-radius: 4px;
  margin: 2px;
}
.icon-notice {
  background-image: url(../image/btn_gonggao.png);
  background-repeat: no-repeat;
  height: 96px;
  width: 96px;
  padding: 5px;
  border-radius: 4px;
  margin: 2px;
}
.icon-chat-s {
  background-image: url(../image/home_list_zixun.png);
  background-repeat: no-repeat;
  height: 38px;
  width: 38px;
  padding: 2px;
  border-radius: 4px;
  margin: 2px;
}
.icon-alert-s {
  background-image: url(../image/home_list_gonggao.png);
  background-repeat: no-repeat;
  height: 38px;
  width: 38px;
  padding: 2px;
  border-radius: 4px;
  margin: 2px;
}
.icon-attch-ss {
  background-image: url(../image/list_xinxi_fujian.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 4px;
  margin: 2px;
}
.icon-timenew-ss {
  background-image: url(../image/list_time_new.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 4px;
  margin: 2px;
}
.icon-timeout-ss {
  background-image: url(../image/list_time_chaoshi.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 4px;
  margin: 2px;
}
.icon-inprocess-ss {
  background-image: url(../image/list_time_chulizhong.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 4px;
  margin: 2px;
}
.icon-waiting-ss {
  background-image: url(../image/list_time_daifasong.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 4px;
  margin: 2px;
}
.icon-part-ss {
  background-image: url(../image/list_xinxi_bufenhuifu.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 4px;
  margin: 2px;
}
.icon-clear-ss {
  background-image: url(../image/seach_btn_qingchu.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  padding: 0px 10px 30px 30px;
  border-radius: 4px;
}
.icon-new-right-botton {
  background-image: url(../image/btn_xinzen.png);
  background-repeat: no-repeat;
  height: 142px;
  width: 142px;
  border-radius: 4px;
  float: right;
  position: fixed;
  bottom: 15px;
  right: 10px;

  /*position: absolute;
  bottom: 0px;
  right: 0px;*/
  z-index: 999;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  display: inline-block;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.image-content {
  max-width: 600px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 24px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-input-default {
    background-color:transparent;border-width:0px; font-size:26px; color:white;
}
.hide-text-overflow{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    display: block;
}
.angle-right
{
  margin-top: 2px;
  width: 20px;
  height: 20px;
}
.view-body .input-group>.searchInput
{
  float: left;
  height:36px;
  width:90%;
  padding-left:30px;
  font-size: 12px;
  border-radius:18px;
  /*background-image: url('../image/search.png');*/
  /*background-repeat: no-repeat;*/
  background: #fff url('../image/search.png') no-repeat;
  background-size: 20px 20px;
  background-position: 5px;
}
.search
{
  margin-bottom: 10px;
}
.list-group{
  overflow: hidden;
}
.list-group .list-group-item.selected
{
  -webkit-transform: translate(-18%,0);
  -webkit-transition:all 0.3s linear;
}
.list-group .list-group-item
{
  overflow: hidden;
  /*padding:0 0.15rem;*/
  width: 3.866667rem;
  border-bottom: 1px solid #f0f0f0;
  /*border-top: 1px solid;*/
  margin-bottom: 0.01rem;
  -webkit-transition:all 0.3s linear;
}
.remove
{
  display: block;
  float: left;
  background-color: #f65035;
  color: #fff;
  /*width: 20%;*/
  /*margin-left: 0.16rem;*/
  font-size: 0.16rem;
  text-align: center;
  text-decoration: none;
}
.text-btn:hover, .text-btn:focus
{
  text-decoration: none;
}
.modal-header
{
  font-size: 0.08rem;
}
.modal-body
{
  font-size: 0.04rem;
}
.modal-footer
{
  padding: 0px;
}
