<script type="text/ng-template" id="confirmDialog.html">
            <div class="modal-header">
                <button type="button" ng-click="closePushDialog()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 style="font-size: 0.15rem;">提示</h3>
            </div>
            <div class="modal-body" style="font-size: 0.15rem;">
                确认删除所选消息？
            </div>
            <div class="modal-footer" style="text-align: center;padding:0.1rem 0">
                <button class="btn btn-default" style="width:100px;" ng-click="cancel()">否</button>
                <button class="btn btn-default" style="width:100px;background-color: #4882de" ng-click="ok()">是</button>
            </div>
</script>
<script type="text/ng-template" id="submitPushDialog.html">
    <div class="modal-header">
        <button type="button" ng-click="closeDialog()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 style="font-size: 0.15rem;">消息推送</h3>
    </div>
    <div class="modal-body" style="font-size: 0.15rem;">
        <textarea type="text" ng-model="messageContent" style="width:100%;" placeholder="请输入你的推送内容"></textarea><br />
    </div>
    <div class="modal-footer" style="text-align: center;padding:0.1rem 0">
        <button class="btn btn-default" style="width:100px;" ng-click="cancel()">取消</button>
        <button class="btn btn-default" style="width:100px;background-color: #4882de" ng-click="ok()">提交</button>
    </div>
</script>

<div ng-controller="homeController">

    <div class="view-header">
        <div class="col-xs-5 r1 left">
            <a class="text-btn" ng-click="popUpPushDialog()">推送</a>
        </div>
        <div class="col-xs-3 r1 center">
            <span>
                <span style="float: left;">消息</span>
                <span class="icon-header-alert" ng-show="unReadedMsgCount!=0">{{unReadedMsgCount}}</span>
            </span>
        </div>
        <div class="col-xs-4 r1 right {{(($root.selectAllFlag)&&($root.showEditFlag))?'':'padding-right15'}}">
            <a class="text-btn" ng-click="selectAll()" ng-if="$root.showEditFlag">{{selectMessage}}</a>
            <a class="text-btn" ng-click="showEdit()" ng-if="messgaes.length!=0">{{editMessage}}</a>
            <!--<a class="icon-btn icon-indicate pull-right" ui-sref="shop-suggestion-responsedlist"> </a>-->
        </div>
    </div>
    <span ng-if="false">{{registrationID}}</span>
    <div class="view-body">
        <div class="row panel-title">
            <div class="search">
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control searchInput" required ng-model="searchValue" placeholder="输入搜索关键字..." aria-describedby="basic-addon2">
                    <div class="" id="basic-addon2"  style="padding:0px;height: 30px;width: 30px;">
                        <!--<a class="icon-clear-ss"  ng-click="reset()"></a>-->
                    </div>
                </div>
            </div>
            <!--<span>最新信息</span>-->
        </div>
        <div class="row panel-nav">
            <div class="list-group">
                <!-- START list group item-->
                <message-item ng-repeat="message in messages" item="message"></message-item>
                <!-- END list group item-->
            </div>
        </div>

        <div class="panel-nav" >
    </div>



</div>
    <div ng-if="$root.selectAllFlag||$root.choosedEditIds.length!=0" style="position:fixed;bottom:0;height: 0.45rem;width: 100%;background-color: #efefef">
        <div class="col-xs-6 r1 left" ng-click="doDeletePop()" style="text-align: center;font-size: 0.18rem;bottom:-0.1rem">
            <a class="text-btn" style="color: #293729">删除</a>
        </div>
        <div class="col-xs-6 r1 right" ng-click="unReadedMsgCount!=0&&setRead()" style="text-align: center;font-size: 0.18rem;bottom:-0.1rem">
            <a class="text-btn" style={{(unReadedMsgCount!=0)?"color:#585858":"color:#ffffff"}}>已读</a>
        </div>
    </div>
</div>

