
<div ng-controller="homeController">
    <div class="view-header">
        <div class="col-xs-5 r1 left">
            <a class="text-btn">关闭</a>
        </div>
        <div class="col-xs-3 r1 center">
            <span>
                <span style="float: left;">消息</span>
                <span class="icon-header-alert" ng-show="unReadedMsgCount!=0">{{unReadedMsgCount}}</span>
            </span>
        </div>
        <div class="col-xs-4 r1 right">
            <a class="text-btn">编辑</a>
            <!--<a class="icon-btn icon-indicate pull-right" ui-sref="shop-suggestion-responsedlist"> </a>-->
        </div>
    </div>


    <div class="view-body">
        <div class="row panel-title">
            <div class="search">
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control searchInput" required ng-model="searchValue" placeholder="输入搜索关键字..." aria-describedby="basic-addon2">
                    <div class="" id="basic-addon2"  style="padding:0px;height: 30px;width: 30px;">
                        <!--<a class="icon-clear-ss"  ng-click="reset()"></a>-->
                    </div>
                </div>
            </div>
            <!--<span>最新信息</span>-->
        </div>
        <div class="row panel-nav">
            <div class="list-group">
                <!-- START list group item-->

                <div class="list-group-item" ng-repeat="message in messages">

                        <div class="col-xs-2">
                            <span class="icon-btn-alert pull-left" ng-show="message.readflag!=1"></span>
                        </div>
                        <div class="col-xs-8 media-box-body clearfix">
                            <!--<small class="text-muted pull-right ml date">2016-8-15</small>-->
                            <div class="media-box-heading">
                                <span class="text-purple m0 title">{{message.messageContent}}</span>
                            </div>
                            <p class="content" >
                                <small class="content">
                                    {{message.pushDate}}
                                </small>
                            </p>
                        </div>
                        <div class="col-xs-2" ng-click="stategoDetail(message)">
                            <!--<img class="angle-right" src="asset/image/angle-right.png" alt="">-->
                            <div class="div105"></div>
                        </div>
                        <a href="javascript:;" class="remove">删除</a>
                        <hr />

                </div>
<!--                <div class="list-group-item">

                    <div class="col-xs-2">
                        <span class="icon-btn-alert pull-left"></span>
                    </div>
                    <div class="col-xs-8 media-box-body clearfix">
                        &lt;!&ndash;<small class="text-muted pull-right ml date">2016-8-15</small>&ndash;&gt;
                        <div class="media-box-heading">
                            <span class="text-purple m0 title">从极光推送来的消息</span>
                        </div>
                        <p class="content" >
                            <small class="content">
                                2016.9.20
                            </small>
                        </p>
                    </div>
                    <div class="col-xs-2" ng-click="stategoDetail0()">
                        &lt;!&ndash;<img class="angle-right" src="asset/image/angle-right.png" alt="">&ndash;&gt;
                        <div class="div105"></div>
                    </div>
                    <hr />

                </div>-->
                <!-- END list group item-->
            </div>
        </div>

        <div class="panel-nav" >

<!--            <div class="text-title1">
                2016.9.20
            </div>
            <div class="text-content1 col-lg-12">
                <span>从极光推送来的消息</span>
            </div>
            &lt;!&ndash;            <div class="date col-lg-12">
                            <div class="icon icon-inprocess-ss" style="float:left;"></div>
                            <div  >{{query.entity.request.RequestDate | date:'yyyy年MM月dd日 HH:mm'}}</div>
                        </div>&ndash;&gt;
        </div>-->
    </div>

</div>

