<?xml version='1.0' encoding='utf-8'?>
<plugin id="jpushServerPlugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>JpushServerPlugin</name>
	<js-module name="JpushServerPlugin" src="www/JpushServerPlugin.js">
		<clobbers target="JpushServer" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="JpushMessage">
				<param name="android-package" value="com.jpushServer.plugin.JpushServerPlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/JpushServerPlugin.java" target-dir="src/com/jpushServer/plugin" />
		<source-file src="src/android/gson-2.2.4.jar" target-dir="libs" />
        <source-file src="src/android/slf4j-api-1.7.7.jar" target-dir="libs" />
        <source-file src="src/android/slf4j-log4j12-1.7.7.jar" target-dir="libs" />
        <source-file src="src/android/log4j-1.2.14.jar" target-dir="libs" />
        <source-file src="src/android/jpush-server.jar" target-dir="libs" />
	</platform>
</plugin>